In [6]:
import requests
import pandas as pd
import json

url = "https://sdataprod.ncaa.com/?meta=GetContests_web&extensions={%22persistedQuery%22:{%22version%22:1,%22sha256Hash%22:%22f9d668706317cc187ecbe89591256e257b14af95432e36d4a68160dc78a7256c%22}}&variables={%22sportCode%22:%22MBB%22,%22division%22:1,%22seasonYear%22:2023,%22contestDate%22:%2202/20/2024%22,%22week%22:null}"
response = requests.get(url)
data = json.loads(response.text)

# Now, navigate through the JSON structure to find the data you need
# This step depends on the structure of your JSON
# For example, if the data is in a list under 'results' key
# data_needed = data['results']

# Convert that data into a DataFrame
# df = pd.DataFrame(data_needed)

In [12]:
contests = data["data"]["contests"]

for contest in contests:
    if contest["teams"][0]["isWinner"] == False:
        print(
            contest["teams"][1]["name6Char"],
            contest["teams"][1]["score"],
            " - ",
            contest["teams"][0]["name6Char"],
            contest["teams"][0]["score"],
        )
    else:
        print(
            contest["teams"][0]["name6Char"],
            contest["teams"][0]["score"],
            " - ",
            contest["teams"][1]["name6Char"],
            contest["teams"][1]["score"],
        )

NOVA 72  -  BUTLER 62
SYR 87  -  NC ST 83
ARK 78  -  TX A&M 71
DUQSNE 81  -  ST LOU 66
OHIO 63  -  KENT 57
BUFF 78  -  E MICH 69
TOLEDO 72  -  AKRON 64
IOWA 78  -  MICHST 71
DAVID 68  -  FORDHM 53
UMASS 74  -  VCU 52
FSU 84  -  BC 76
W MICH 77  -  MIA OH 58
WVU 77  -  UCF 67
TENN 72  -  MIZZOU 67
C MICH 62  -  BGSU 60
S IND 80  -  MOREST 73
BALLST 70  -  NIU 63
CREIGH 85  -  UCONN 66
UT ST 68  -  SDSU 63
TXTECH 82  -  TCU 81
WISC 74  -  MD 70
WAKE 91  -  PITT 58
BYU 78  -  BAYLOR 71
BOISE 82  -  SJSU 50
STMARY 70  -  S FRAN 66
NEVADA 76  -  WYO 58

In [13]:
contests = data["data"]["contests"]
rows = []

for contest in contests:
    row = {}
    row["date"] = contest[
        "startDate"
    ]  # replace 'contestDate' with the actual key for the date in your data
    if contest["teams"][0]["isWinner"] == False:
        row["team1"] = contest["teams"][1]["name6Char"]
        row["team1 score"] = contest["teams"][1]["score"]
        row["team2"] = contest["teams"][0]["name6Char"]
        row["team2 score"] = contest["teams"][0]["score"]
    else:
        row["team1"] = contest["teams"][0]["name6Char"]
        row["team1 score"] = contest["teams"][0]["score"]
        row["team2"] = contest["teams"][1]["name6Char"]
        row["team2 score"] = contest["teams"][1]["score"]
    rows.append(row)

df = pd.DataFrame(rows)

In [14]:
df

          date   team1  team1 score   team2  team2 score
0   02/20/2024    NOVA           72  BUTLER           62
1   02/20/2024     SYR           87   NC ST           83
2   02/20/2024     ARK           78  TX A&M           71
3   02/20/2024  DUQSNE           81  ST LOU           66
4   02/20/2024    OHIO           63    KENT           57
5   02/20/2024    BUFF           78  E MICH           69
6   02/20/2024  TOLEDO           72   AKRON           64
7   02/20/2024    IOWA           78  MICHST           71
8   02/20/2024   DAVID           68  FORDHM           53
9   02/20/2024   UMASS           74     VCU           52
10  02/20/2024     FSU           84      BC           76
11  02/20/2024  W MICH           77  MIA OH           58
12  02/20/2024     WVU           77     UCF           67
13  02/20/2024    TENN           72  MIZZOU           67
14  02/20/2024  C MICH           62    BGSU           60
15  02/20/2024   S IND           80  MOREST           73
16  02/20/2024  BALLST           70     NIU           63
17  02/20/2024  CREIGH           85   UCONN           66
18  02/20/2024   UT ST           68    SDSU           63
19  02/20/2024  TXTECH           82     TCU           81
20  02/20/2024    WISC           74      MD           70
21  02/20/2024    WAKE           91    PITT           58
22  02/20/2024     BYU           78  BAYLOR           71
23  02/20/2024   BOISE           82    SJSU           50
24  02/20/2024  STMARY           70  S FRAN           66
25  02/20/2024  NEVADA           76     WYO           58

In [18]:
import requests
import pandas as pd
import json

urlTwo = "https://sdataprod.ncaa.com/?meta=GetContests_web&extensions={%22persistedQuery%22:{%22version%22:1,%22sha256Hash%22:%22f9d668706317cc187ecbe89591256e257b14af95432e36d4a68160dc78a7256c%22}}&variables={%22sportCode%22:%22MBB%22,%22division%22:1,%22seasonYear%22:2023}"
responseTwo = requests.get(urlTwo)
dataTwo = json.loads(responseTwo.text)

# Now, navigate through the JSON structure to find the data you need
# This step depends on the structure of your JSON
# For example, if the data is in a list under 'results' key
# data_needed = data['results']

# Convert that data into a DataFrame
# df = pd.DataFrame(data_needed)

In [19]:
contestsTwo = dataTwo["data"]["contests"]

In [20]:
rows = []

for contest in contestsTwo:
    row = {}
    row["date"] = contest[
        "startDate"
    ]  # replace 'contestDate' with the actual key for the date in your data
    if contest["teams"][0]["isWinner"] == False:
        row["team1"] = contest["teams"][1]["name6Char"]
        row["team1 score"] = contest["teams"][1]["score"]
        row["team2"] = contest["teams"][0]["name6Char"]
        row["team2 score"] = contest["teams"][0]["score"]
    else:
        row["team1"] = contest["teams"][0]["name6Char"]
        row["team1 score"] = contest["teams"][0]["score"]
        row["team2"] = contest["teams"][1]["name6Char"]
        row["team2 score"] = contest["teams"][1]["score"]
    rows.append(row)

df = pd.DataFrame(rows)

In [21]:
df

          date   team1  team1 score   team2  team2 score
0   11/06/2023   IUPUI           70   SPALD           63
1   11/06/2023  HOFSTR          101  STJOLI           48
2   11/06/2023    TROY           92                   47
3   11/06/2023     SFA           96                   68
4   11/06/2023  PV A&M           89                   66
..         ...     ...          ...     ...          ...
95  11/06/2023     ALA          105  MOREST           73
96  11/06/2023     ARK           93  ALCORN           59
97  11/06/2023     FLA           93  LOY MD           73
98  11/06/2023      UK           86   NM ST           46
99  11/06/2023     HOU           84  LA MON           31

[100 rows x 5 columns]